@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

$overlayTextDark: #e2e2e2;
$overlayTextLight: #272727;

html {
    /*
        You can swap these two lines to get random images. This can help
        with testing overlays and appearances with a large number of images.
     */
    //background: url('../../images/default/homepage/ryan-cheng-uqYy29Sfb8Q-unsplash.jpg') no-repeat fixed bottom;
    background: url('https://source.unsplash.com/random') no-repeat fixed bottom;

    background-size: cover;
    position: relative;
    min-height: 100%;
    line-height: 1.4rem;
    font-family: "Titillium Web", 'sans-serif';

    .container {
        margin: 5rem 10rem 100vh;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .overlay {
        backdrop-filter: blur(.4rem);
        border-radius: .25rem;
        box-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, 0.2) inset;
        padding: .75rem 1rem;
        color: $overlayTextDark;
        transition: .2s linear;
    }

    .overlay-dark {
        background: rgba(0, 0, 10, 0.5);
        color: $overlayTextDark;
    }

    .overlay-light {
        background: rgba(255, 255, 255, 0.5);
        color: $overlayTextLight;
    }

    a#photo-credit {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        display: inline-block;
        padding: .5rem .6rem;
        text-decoration: none;
        font-size: 14px;
        line-height: .8rem;

        &:visited {
            color: darken($overlayTextDark, 20);
        }

        &:hover {
            color: lighten($overlayTextDark, 20);
        }
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 28px;


        /* Hide default HTML checkbox */
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $overlayTextDark;
            transition: .2s linear;
            box-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, 0.2) inset;

            &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                transition: .2s linear;
                background-color: $overlayTextLight;
            }

            /* Rounded sliders */
            &.round {
                border-radius: 34px;

                &:before {
                    border-radius: 50%;
                }
            }
        }

        input:checked + .slider {
            background-color: $overlayTextLight;
        }

        input:focus + .slider {
            box-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, 0.2) inset;
        }

        input:checked + .slider:before {
            transform: translateX(21px);
            background-color: $overlayTextDark;
        }
    }
}
